<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if (locals.login ) { %>
            <li class="nav-item <% if (title === 'cryptofolio') %> {class='active'}">
                <a class="nav-link" href="/portfolio/<%- locals.login.username %> ">cryptofolio</a>
            </li>
            <li class="nav-item <% if (title === 'logout') %> {class='active'}">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } else { %>
            <li class="nav-item <% if (title === 'login') %> {class='active'}">
                <a class="nav-link" href="/login">login</a>
            </li>
            <li class="nav-item <% if (title === 'register') %> {class='active'}">
                <a class="nav-link" href="/register">register</a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
